
/node_modules
/.pnp
.pnp.js


/coverage


/build
.vscode/

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/package-lock.json
front-end/package-lock.json
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/node_modules/
backend/yarn.lock
backend/.env
backend/*.env
config.env
backend/config.env
front-end/config.env

front-end/node_modules/
mobile/node_modules/
front-end/yarn.lock
front-end/.env

.env
.env.local
.env.production
node_modules/
yarn.lock
*-firebase-adminsdk-*.json


.expo/
dist/
web-build/
mobile/expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

mobile/npm-debug.*
mobile/yarn-debug.*
mobile/yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

app-example

/mobile/ios
/mobile/android


mobile/google-services.json
mobile/GoogleService-Info.plist

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.expo-shared/
.expo/
*.log
mobile/package-lock.json
commit_mobile.sh
front-end/src/utils/firebaseConfig.js
mobile/src/utils/firebaseConfig.js
