# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.vscode/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/package-lock.json
front-end/package-lock.json
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/node_modules/
backend/yarn.lock
backend/.env
front-end/node_modules/
front-end/yarn.lock
front-end/.env

.env
.env.local
.env.production
node_modules/
yarn.lock

uni-portal-64dc1-firebase-adminsdk-fbsvc-48769f8d91.json